body
{
  background-image: url("swirl.png");
  font-family: 'BioRhyme Expanded', serif;
}
#container
{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
#header
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}
#main
{
  width: 650px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
}
.karta
{
  display:inline-block;
  width: 125px;
  height: 125px;
  border: 4px solid #209781;
  border-radius: 10px;
  margin: 10px;
  background-image: url("img2/karta.png");
  cursor: pointer;
  filter: brightness(70%);
  transition: all .3s ease-in-out;

}
.karta:hover
{
  border: 4px solid #e9b64a;
  filter: brightness(100%);

}

.kartaA
{
  display:inline-block;
  width: 125px;
  height: 125px;
  border: 4px solid #e9b64a;
  border-radius: 10px;
  margin: 10px;
  background-image: url("img2/karta.png");
  cursor: pointer;
  filter: brightness(100%);
}
#counter{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#reload{
    text-transform: uppercase;
    font-size: 20px;
}
#reload:hover{
    color: red;
    cursor: pointer;
}